body {
    background-color: #bddf99;
}

table {
    margin: 0 auto;
    width: 400px;
    height: 800px;
}

img.titleimage {
    display: block;
    margin: 0 auto;
    /* width: 900px; */
    width: max-content;
    height: 300px;
    position: relative;
    object-fit: cover;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    /*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn-flat {
    overflow: hidden;

    padding: 2.5rem 8rem;

    color: #ffffff;
    border-radius: 0;
    background: #000;
}

a.btn-flat span {
    position: relative;
    z-index: 1;
}

a.btn-flat:before {
    position: absolute;
    top: 0;
    left: calc(-150% + 130px);

    width: 150%;
    height: 500%;

    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: rotate(45deg) translateX(0) translateY(0);
    transform: rotate(45deg) translateX(0) translateY(0);

    background: #fff100;
}

a.btn-flat:after {
    position: absolute;
    top: -400%;
    right: calc(-150% + 130px);

    width: 150%;
    height: 500%;

    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: rotate(45deg) translateX(0) translateY(0);
    transform: rotate(45deg) translateX(0) translateY(0);

    background: #fff100;
}

a.btn:hover {
    color: #000;
}

a.btn-flat:hover:before {
    -webkit-transform: rotate(45deg) translateX(0) translateY(-50%);
    transform: rotate(45deg) translateX(0) translateY(-50%);
}

a.btn-flat:hover:after {
    -webkit-transform: rotate(45deg) translateX(0) translateY(50%);
    transform: rotate(45deg) translateX(0) translateY(50%);
}